@model IEnumerable<ElectoralSystem.Entities.Election>
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>Electoral System</h2> <span class="lead">Digitalizing the tedious, time-consuming process of manual electoral processes.</span>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The <strong>Electoral System</strong> gives you a powerful way to automate your electoral system giving you a clean
            and transparent process of electing a candidate as defined by the majority.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>On-going Elections</h2>
        @foreach(var election in Model)
        {
            <a href="/Elections/Details/@election.Id">@election.Title</a>
        }
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>